.card {
  width: 650px;
  height: 390px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;

  box-shadow: -5px 5px 10px red, 5px 5px 10px red;

  &__child {
    transition: all .7s;
    display: flex;
    height: 100%;
  }

  &__img {
    display: inline-block;
    height: 100%;
    // object-fit: cover;ss
  }
}