.slider {
  position: relative;

  &__ul {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    bottom: 0;

    z-index: 777;
  }

  &__list {
    list-style: none;
    width: 40px;
    height: 10px;
    background-color: #fff;
    opacity: .5;
    border-radius: 5px;
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}